/* header style*/
.oasislogo img{
    height: 100px;
}
.ml-20 {
    margin-left: 20px;
}
.d-lg-block {
    display: block !important;
  
}
.btn {
    padding: 20px;
    text-transform: uppercase;
    font-family: Barlow, sans-serif;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background: #EDC750;
    padding: 50px 44px;
    border-radius: 5px;
    transition: color 0.4s linear 0s;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
    margin: 0px;
}
.header-btn {
    padding:  35px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

.mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important
}

.mobile_menu .slicknav_menu .slicknav_btn {
    top: -34px
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background-color: #f15f22 !important
}

.mobile_menu .slicknav_menu .slicknav_nav {
    margin-top: 9px !important;
    box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5)
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: #f15f22
}

.mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 15px;
    padding: 7px 10px
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important
}
.header-btn {
    padding: 25px 35px
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .header-bottom {
        
        height: 50px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .header-bottom {
        padding: 15px 0px
    }
}

@media (max-width: 575px) {
    .header-area .header-bottom {
        padding: 15px 0px
    }
}

.header-area {
    background: #000c20;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

@media (max-width: 575px) {
    .header-area {
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
    }
}

.header-area .header-top {
    border-bottom: 1px solid #2d2d2d;
    padding: 9px 0px
}

.header-area .header-top .header-info-left ul li {
    color: #7b8693;
    display: inline-block;
    margin-right: 70px;
    font-size: 14px
}

.header-area .header-top .header-info-left ul li:last-child {
    margin-right: 0px
}

.header-area .header-top .header-info-left ul li i {
    margin-right: 8px
}

.header-area .header-top .header-info-right .header-social li {
    display: inline-block
}

.header-area .header-top .header-info-right .header-social li a {
    color: #7b8693;
    font-size: 14px;
    padding-left: 25px
}

.header-area .header-top .header-info-right .header-social li a:hover {
    color: #EDC750;
}

.main-header {
    position: relative;
    z-index: 3
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .main-header .main-menu {
        margin-right: 30px
    }
}

.main-header .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
    list-style-type: none;

}
.main-header .main-menu ul li:hover{
    background:#f15f22 ;
    width: inherit;
    height: 35px;
    cursor: pointer;
    border-radius: 20px;

}

.main-header .main-menu ul li a {
    color: #fff;
    font-weight: 200;
    /* padding: 39px 19px; */
    display: block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
     list-style-type: none;
     padding: 5px 15px !important;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header .main-menu ul li a {
        /* padding: 39px 14px */
    }
}

.main-header .main-menu ul li:hover>a {
    color: #EDC750;
}



.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9
}

.header-area .header-top .header-info-right .header-social a i {
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.header-area .header-top .header-info-right .header-social a:hover i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

.header-sticky.sticky-bar {
    background: #EDC750;
}

.header-sticky.sticky-bar.sticky .main-menu ul li a {
    /* padding: 20px 20px !important */
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

@media (max-width: 575px) {
    .header-sticky.sticky-bar.sticky {
        padding: 15px 0px
    }
}

.modal-message .modal-dialog .modal-content .modal-header h2 {
    display: block;
    text-align: center;
    padding-bottom: 10px
}

.modal-message .modal-dialog .modal-content .modal-header p {
    display: block
}
/* header style end*/
/* hero style*/

.slider-active{
    /* background-image: url(../../assets/img/hero/video.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../../assets/img/hero/video.jpg");
     min-height: 800px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}
.slider-area .hero__caption h1 {
 text-align: center;
    font-size: 60px;
    font-weight: 600;
  margin-top: 50px;
    color: #fff;
    line-height: 95px;
    text-transform: capitalize;
    margin-bottom: 40px
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption {
        padding-top: 50px
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption {
        padding-top: 50px
    }
    .slider-active{
    /* background-image: url(../../assets/img/hero/video.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("../../assets/img/hero/video.jpg");
     min-height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}
}



@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .slider-area .hero__caption h1 {
        font-size: 60px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-area .hero__caption h1 {
        font-size: 50px;
        line-height: 1.2
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero__caption h1 {
        font-size: 35px;
        line-height: 1.2
    }
}

@media (max-width: 575px) {
    .slider-area .hero__caption h1 {
        font-size: 32px;
        line-height: 1.2
    }
}

.slider-area .hero__caption h1 span {
    color: #EDC750;
}

.slider-area form.search-box {
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px;
    margin-bottom: 15px
}

.slider-area form.search-box .input-form {
    width: 53%;
    position: relative;
    overflow: hidden
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area form.search-box .input-form {
        width: 66%
    }
}

@media (max-width: 575px) {
    .slider-area form.search-box .input-form {
        width: 100%
    }
}

.slider-area form.search-box .input-form input {
    height: 60px;
    width: 100%;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 33px 9px 32px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

@media (max-width: 575px) {
    .slider-area form.search-box .input-form input {
        margin-bottom: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area form.search-box .input-form input {
        padding: 9px 33px 9px 25px
    }
}

.slider-area form.search-box .input-form input::placeholder {
    color: #616875
}

@media (max-width: 575px) {
    .slider-area form.search-box .input-form input::placeholder {
        font-size: 13px
    }
}

.slider-area form.search-box .search-form {
    width: 22%;
    overflow: hidden
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area form.search-box .search-form {
        width: 34%
    }
}

@media (max-width: 575px) {
    .slider-area form.search-box .search-form {
        width: 100%
    }
}

.slider-area form.search-box .search-form a {
    width: 100%;
    height: 60px;
    background: #EDC750;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #fff;
    display: block;
    padding: 15px;
    border-radius: 0px;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    line-height: 1.2;
    line-height: 29px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

@media (max-width: 575px) {
    .slider-area form.search-box .search-form a {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px
    }
}

.slider-area .hero-pera p {
    color: #fff;
    margin-bottom: 42px;
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase
}

.hero-overly {
    position: relative;
    z-index: 1
}

.hero-overly::before {
    position: absolute;
    content: "";
    background-color: rgba(1, 10, 28, 0.6);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat
}

.slider-area .hero-cap h2 {
    color: #fff;
    font-size: 95px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .slider-area .hero-cap h2 {
        font-size: 50px
    }
}

@media (max-width: 575px) {
    .slider-area .hero-cap h2 {
        font-size: 35px
    }
}

.slider-area .hero-cap .breadcrumb {
    background: none;
    padding: 0;
    margin: 0
}

.slider-area .hero-cap .breadcrumb a {
    color: #dcdcdc;
    font-size: 18px;
    text-transform: capitalize
}

.slider-area .hero-cap .breadcrumb-item+.breadcrumb-item::before {
    color: #dcdcdc
}
/* hero style end*/

/*program start here*/

.main{
    padding-top: 60px;
 }
 .our-info-area {
     background: #f9f9f9
 }
     .pb-40 {
     padding-bottom: 40px;
 }
 
 .our-info-area .single-info {
     display: flex;
     align-items: center
 }
 
 .our-info-area .single-info .info-icon span {
     color: #EDC750;
     font-size: 44px;
     margin-bottom: 0;
     display: block
 }
 
 .our-info-area .single-info .info-caption {
     padding-left: 20px
 }
 
 .our-info-area .single-info .info-caption p {
     color: #677294;
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 0
 }
 
 .our-info-area .single-info .info-caption span {
     color: #2c234d;
     font-size: 20px;
     margin-bottom: 0px;
     display: block;
     font-weight: 600
 }
 
 @media only screen and (min-width: 576px) and (max-width: 767px) {
     .our-info-area .single-info .info-caption span {
         font-size: 16px
     }
 
 }
 /*program end here*/

 /*services start here*/
 .service{
    margin-top: 20px;
}   
.categories-area .single-cat {
   border: 1px solid #e1ebf7;
   border-radius: 6px;
   padding: 85px 22px;
   -webkit-transition: all .4s ease-out 0s;
   -moz-transition: all .4s ease-out 0s;
   -ms-transition: all .4s ease-out 0s;
   -o-transition: all .4s ease-out 0s;
   transition: all .4s ease-out 0s;
   position: relative;
   z-index: 1
}

@media (max-width: 575px) {
   .categories-area .single-cat {
       padding: 50px 22px
   }
}

.categories-area .single-cat::before {
   position: absolute;
   content: "";
   width: 100%;
   height: 0;
   background: #EDC750;
   transition: .6s;
   bottom: 0;
   left: 0;
   z-index: -1;
   border-radius: 6px
}

.categories-area .single-cat .cat-icon span {
   color: #EDC750;
   font-size: 50px;
   margin-bottom: 30px;
   display: block
}

.categories-area .single-cat .cat-cap h5>a {
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 21px;
   display: block;
   -webkit-transition: all .2s ease-out 0s;
   -moz-transition: all .2s ease-out 0s;
   -ms-transition: all .2s ease-out 0s;
   -o-transition: all .2s ease-out 0s;
   transition: all .2s ease-out 0s;
   font-family: "Barlow", sans-serif
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
   .categories-area .single-cat .cat-cap h5>a {
       font-size: 26px
   }
}

@media (max-width: 575px) {
   .categories-area .single-cat .cat-cap h5>a {
       font-size: 26px
   }
}

.categories-area .single-cat .cat-cap p {
   margin-bottom: 36px;
   color: #57667e;
   font-size: 16px;
   -webkit-transition: all .2s ease-out 0s;
   -moz-transition: all .2s ease-out 0s;
   -ms-transition: all .2s ease-out 0s;
   -o-transition: all .2s ease-out 0s;
   transition: all .2s ease-out 0s
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
   .categories-area .single-cat .cat-cap p {
       font-size: 15px
   }
}

.categories-area .single-cat .cat-cap a {
   color: #1c165c;
   font-size: 16px;
   font-weight: 600;
   -webkit-transition: all .2s ease-out 0s;
   -moz-transition: all .2s ease-out 0s;
   -ms-transition: all .2s ease-out 0s;
   -o-transition: all .2s ease-out 0s;
   transition: all .2s ease-out 0s
}

.categories-area .single-cat:hover {
   border: 1px solid transparent
}

.categories-area .single-cat:hover::before {
   height: 100%
}

.categories-area .single-cat:hover .cat-icon span {
   color: #fff
}

.categories-area .single-cat:hover .cat-cap h5 {
   color: #fff
}

.categories-area .single-cat:hover .cat-cap p {
   color: #fff
}

.categories-area .single-cat:hover .cat-cap a {
   color: #fff
}

.section-padding30 {
   padding-top: 195px;
   padding-bottom: 170px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
   .section-padding30 {
       padding-top: 195px;
       padding-bottom: 170px
   }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
   .section-padding30 {
       padding-top: 150px;
       padding-bottom: 110px
   }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
   .section-padding30 {
       padding-top: 100px;
       padding-bottom: 70px
   }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
   .section-padding30 {
       padding-top: 65px;
       padding-bottom: 30px
   }
}

@media (max-width: 575px) {
   .section-padding30 {
       padding-top: 65px;
       padding-bottom: 30px
   }
}
.section-tittle span {
   font-size: 30px;
   display: block;
   color: #EDC750;
   font-weight: 600;
   text-transform: capitalize;
   margin-bottom: 17px;
}
.section-tittle h2 {
   font-size: 50px;
   display: block;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 {
   font-family: "Teko", sans-serif;
   color: #2c234d;
   margin-top: 0px;
   font-style: normal;}
@media only screen and (min-width: 992px) and (max-width: 1199px){
.section-tittle h2 {
   font-size: 42px;
}}


@media (max-width: 575px) {

.section-tittle h2 {
   font-size: 30px;
   display: block;
   font-weight: 600;
   text-transform: capitalize;
   line-height: 1.3;
}
}
 /*services end here*/
 /*about start here*/
 .about-row {
    margin-bottom: 100px;
    }
    .main-about{
        margin-top: 100px;
    }
.latest_blog_area {
    background: #f9f9ff
}

.single-recent-blog-post {
    margin-bottom: 30px
}

.single-recent-blog-post .thumb {
    overflow: hidden
}

.single-recent-blog-post .thumb img {
    transition: all 0.7s linear
}

.single-recent-blog-post .details {
    padding-top: 30px
}

.single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0px 13px;
    transition: all 0.3s linear
}

.single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400
}

.single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg)
}

.tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center
}

.tags .tag_btn+.tag_btn {
    margin-left: 2px
}

.blog_categorie_area {
    padding-top: 30px;
    padding-bottom: 30px
}

@media (min-width: 900px) {
    .blog_categorie_area {
        padding-top: 80px;
        padding-bottom: 80px
    }
}

@media (min-width: 1100px) {
    .blog_categorie_area {
        padding-top: 120px;
        padding-bottom: 120px
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    background: #EDC750;
    padding: 27px 44px;
    text-transform: uppercase;
    font-family: "Barlow", sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    -moz-user-select: none;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

.section-tittle h2 {

    display: block;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Teko", sans-serif;
    color: #2c234d;
    margin-top: 0px;
    font-style: normal;}

@media only screen and (min-width: 992px) and (max-width: 1199px){
.section-tittle h2 {
    font-size: 42px;
}
}
.about-low-area .about-caption p {
    font-size: 16px;
    color: #64676c;
    line-height: 1.6;
    margin-bottom: 35px;
    padding-right: 50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-low-area .about-caption p {
        padding-right: 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-low-area .about-caption p {
        padding-right: 0px
    }
}

@media (max-width: 575px) {
    .about-low-area .about-caption p {
        padding-right: 0px
    }
    .section-tittle h2 {
    font-size: 20px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
}
}

.about-low-area .about-img {
    position: relative
}

.about-low-area .about-img .about-font-img img {
    position: absolute;
    z-index: 1;
    right: 47px;
    top: 0px;
    height: 700px;
    width: 400px;
    margin-top: -50px;
}





@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-low-area .about-img .about-font-img {
        position: unset
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-low-area .about-img .about-font-img {
        position: unset;
         display: none;
    }
    .about-row{
    margin-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .about-low-area .about-img .about-font-img {
        position: unset;
        display: none;

    }
    .btn{
        margin-bottom: 50px;
    }
}

@media (max-width: 575px) {
    .about-low-area .about-img .about-font-img img {
        width: 100%;
       
    }
}

.about-low-area .about-img .about-back-img {
    position: absolute;
    top: -45px;
    right: 0;
    z-index: 0
}

@media (max-width: 575px) {
    .about-low-area .about-img .about-back-img img {
        width: 90%
    }
}

@media (max-width: 575px) {
    .about-caption {
        margin-bottom: 35px
    }
}
 /*about end here*/
 /*contact style start here*/
 .contactbg{
    background: -webkit-linear-gradient(left, #f5f5f5, #FBF9FF);
    border-radius: 20px;
    margin-bottom: 20px;
}
.contact-form{
        background-image: url("../../assets/img/gallery/watch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    margin-top: 10%;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
  
}

.form-group .inputs{
    height: 50px;
}
.buton{
    margin-top: 100px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: 7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #EDC750;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
}
.contact-form .btnContact {
    width: 70%;
    border: none;
    border-radius: 1rem;
    background: #EDC750;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 20px;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #EDC750;
    border: none;
    cursor: pointer;
}
@media (max-width: 575px) {
  .contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #EDC750;
    padding: 20px;
    font-size: 30px;
}
.section-tittle span {
    font-size: 18px;
    display: block;
    color: #EDC750;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 17px;
}
    
}


@media only screen and (min-width: 576px) and (max-width: 795px) {
 
}

 /*contact style ends here*/
 /*team start here*/

.team-area .single-team .team-img {
    position: relative;
    overflow: hidden
}

.team-area .single-team .team-img img {
    width: 100%
}

.team-area .single-team .team-caption {
    position: absolute;
    bottom: -36px;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

.team-area .single-team .team-caption h3 {
    margin-bottom: 3px;
    line-height: 13px;
    font-family: "Barlow", sans-serif
}

.team-area .single-team .team-caption h3 a {
    color: #2c234d;
    font-weight: 700;
    font-size: 20px
}

.team-area .single-team .team-caption h3 a:hover {
    color: #EDC750;
}

.team-area .single-team .team-caption p {
    color: #2c234d;
    font-size: 16px;
    margin: 0;
    padding: 0
}

.team-area .single-team:hover .team-img .team-social a {
    transform: translateY(6px);
    opacity: 1;
    visibility: visible;
    color: #fff
}

.team-area .single-team:hover .team-caption {
    background: #EDC750;
    bottom: 0
}

.team-area .single-team:hover .team-caption h3 a {
    color: #fff
}

.team-area .single-team:hover .team-caption p {
    color: #fff
}

.section-tittle h2 {
    font-size: 50px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Teko", sans-serif;
    color: #2c234d;
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    text-transform: normal;
}

.team-social {
    bottom: 22px;
    left: 0;
    right: 0;
    text-align: center
}

.team-social li {
    display: inline-block
}

.team-social li a {
    color: #8ba4b1;
    font-size: 14px;
    margin: 0 12px;
    display: inline-block;
    -webkit-transform: .4s;
    -ms-transform: .4s;
    transform: .4s;
    transform: translateY(60px);
    opacity: 1;
    visibility: visible
}

.team-social li a i {
    display: inline-block
}

.team-social li:nth-child(1) a {
    transition-delay: 0.0s
}

.team-social li:nth-child(2) a {
    transition-delay: 0.1s
}

.team-social li:nth-child(3) a {
    transition-delay: 0.2s
}

.team-social li:nth-child(4) a {
    transition-delay: 0.3s
}
@media only screen and (min-width: 992px) and (max-width: 1999px){
.section-padding30 {
    padding-top: 150px;
    padding-bottom: 110px;
}}


@media (max-width: 575px) {

.section-tittle h2 {
    font-size: 30px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
}
}

 /*team start here*/
 /*testimonial start*/

 .testimonial-area{
    background-image: url("../../assets/img/gallery/section_bg04.jpg");
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .section-bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .testimonial-padding {
        padding-top: 140px;
        padding-bottom: 100px;
    }
   
    .section-tittle h2 {
        font-size: 50px;
        display: block;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 1.3;
    }
        
        .testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
            font-size: 20px;
        color: #fff;
    }
    .testimonial-area .testimonial-caption .testimonial-top-cap svg {
        margin-bottom: 17px
    }
    
    .testimonial-area .testimonial-caption .testimonial-top-cap p {
        color: #a4acc3;
        font-weight: 500;
        line-height: 1.5;
        padding: 0 3px;
        margin-bottom: 50px;
        font-size: 16px
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .testimonial-area .testimonial-caption .testimonial-top-cap p {
            margin-bottom: 30px
        }
    }
    
    @media (max-width: 575px) {
        .testimonial-area .testimonial-caption .testimonial-top-cap p {
            margin-bottom: 30px
        }
        .testimonial-padding {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    }
    
    .testimonial-area .testimonial-caption .testimonial-founder .founder-text {
        padding-left: 20px
    }
    
    .testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
        color: #fff
    }
    
    .testimonial-area .testimonial-caption .testimonial-founder .founder-text p {
        color: #677294;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 5px
    }
    
    .h1-testimonial-active button.slick-arrow {
        position: absolute;
        right: 90px;
        border: 0;
        padding: 0;
        z-index: 2;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 20px;
        -webkit-transition: all .3s ease-out 0s;
        -moz-transition: all .3s ease-out 0s;
        -ms-transition: all .3s ease-out 0s;
        -o-transition: all .3s ease-out 0s;
        transition: all .3s ease-out 0s;
        color: #616373;
        background: none;
        margin: 0 auto;
        bottom: 0;
        border: 1px solid #616373
    }
    
    .submit-btn {
        width: 100%;
        background: #EDC750;
        padding: 19px 44px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        font-family: "Barlow", sans-serif;
        font-size: 14px;
        border-radius: 5px;
        border: 0;
    }
    .h1-testimonial-active button.slick-arrow:hover {
        border: 1px solid #EDC750;
        color: #EDC750;
    }
    
    .h1-testimonial-active button.slick-next {
        right: 31px
    }
    
    .h1-testimonial-active button i {
        font-size: 13px;
        position: relative;
        top: -3px
    }
    
    .slick-initialized .slick-slide {
        outline: 0
    }
    
    .testimonial-form {
        padding: 50px;
        border-radius: 10px;
        background: #fff;
        padding: 50px;
        border-radius: 10px
    }
    
    @media (max-width: 575px) {
        .testimonial-form {
            padding: 30px
        }
        .section-tittle h2 {
        font-size: 30px;
        display: block;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 1.3;
    }
    }
    
    
    
    
    
    .testimonial-form h3 {
        font-size: 26px;
        display: block;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 1.3;
        margin-bottom: 30px
    }
    
    .testimonial-form input {
        height: 60px;
        width: 100%;
        color: #777777;
        font-size: 18px;
        font-weight: 400;
        padding: 9px 33px 9px 32px;
        border-radius: 5px;
        border: 1px solid #efebeb;
        background: #fff;
        margin-bottom: 20px
    }
    
    @media (max-width: 575px) {
        .testimonial-form input {
            margin-bottom: 20px
        }
        .testimonial-form h3 {
        font-size: 18px;
        display: block;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 1.3;
        margin-bottom: 30px
    }
    }
    
    @media only screen and (min-width: 576px) and (max-width: 767px) {
        .testimonial-form input {
            padding: 9px 33px 9px 25px;
            margin-bottom: 20px
        }
    }
    
    .testimonial-form input::placeholder {
        color: #616875
    }
    
    @media (max-width: 575px) {
        .testimonial-form input::placeholder {
            font-size: 14px
        }
    }
 /*testimonials end */
 /*blog start here*/


 .single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px
}

@media (max-width: 600px) {
    .single-post-area .blog-author {
        padding: 20px 8px
    }
}

.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px
}

@media (max-width: 600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px
    }
}

.single-post-area .blog-author a {
    display: inline-block
}

.single-post-area .blog-author a:hover {
    color: #EDC750;
}

.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px
}

.single-post-area .blog-author h4 {
    font-size: 16px
}
.home-blog-area .home-blog-single .blog-img {
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 30px
}

.home-blog-area .home-blog-single .blog-img img {
    width: 100%;
    -webkit-transform: scale 1;
    -ms-transform: scale 1;
    transform: scale 1;
    transition: all 0.5s ease-out 0s
}

.home-blog-area .home-blog-single .blog-caption .blog-date {
    background: #f5f5f5;
    padding: 14px 19px;
    display: block;
    float: left;
    overflow: hidden;
    border-radius: 6px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-blog-area .home-blog-single .blog-caption .blog-date {
        padding: 8px 20px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-blog-area .home-blog-single .blog-caption .blog-date {
        padding: 8px 20px
    }
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-caption .blog-date {
        padding: 8px 20px;
        float: unset;
        display: inline-block
    }
}

.home-blog-area .home-blog-single .blog-caption .blog-date span {
    color: #EDC750;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin: 0
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-blog-area .home-blog-single .blog-caption .blog-date span {
        font-size: 22px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-blog-area .home-blog-single .blog-caption .blog-date span {
        font-size: 22px
    }
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-caption .blog-date span {
        font-size: 22px
    }
}

.home-blog-area .home-blog-single .blog-caption .blog-date p {
    color: #111111;
    margin: 0;
    font-size: 14px;
    line-height: 1.1
}

.home-blog-area .home-blog-single .blog-caption .blog-cap {
    margin-left: 100px
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-caption .blog-cap {
        margin-left: 0px;
        margin-top: 10px
    }
}

.home-blog-area .home-blog-single .blog-caption .blog-cap ul {
    margin-bottom: 10px
}

.home-blog-area .home-blog-single .blog-caption .blog-cap ul li {
    display: inline-block;
    padding-right: 40px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .home-blog-area .home-blog-single .blog-caption .blog-cap ul li {
        padding-right: 14px
    }
}

.home-blog-area .home-blog-single .blog-caption .blog-cap ul li:last-child {
    padding-right: 0px
}

.home-blog-area .home-blog-single .blog-caption .blog-cap ul li a {
    color: #717b9b;
    font-size: 13px
}

.home-blog-area .home-blog-single .blog-caption .blog-cap ul li a i {
    padding-right: 10px
}

.home-blog-area .home-blog-single .blog-caption .blog-cap h3 a {
    color: #191d34;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
    display: block
}

.home-blog-area .home-blog-single .blog-caption .blog-cap h3 a:hover {
    color: #EDC750;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home-blog-area .home-blog-single .blog-caption .blog-cap h3 a {
        font-size: 17px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home-blog-area .home-blog-single .blog-caption .blog-cap h3 a {
        font-size: 17px
    }
}

@media (max-width: 575px) {
    .home-blog-area .home-blog-single .blog-caption .blog-cap h3 a {
        font-size: 17px
    }
}

.home-blog-single:hover .blog-img img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.latest-blog-area .area-heading {
    margin-bottom: 70px
}

.blog_area a {
    color: "Teko", sans-serif !important;
    text-decoration: none;
    transition: .4s
}

.blog_area a:hover, .blog_area a :hover {
    background: -webkit-linear-gradient(131deg, #f15f22 0%, #f15f22 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: .4s
}

.single-blog {
    overflow: hidden;
    margin-bottom: 30px
}

.single-blog:hover {
    box-shadow: 0px 10px 20px 0px rgba(42, 34, 123, 0.1)
}

.single-blog .thumb {
    overflow: hidden;
    position: relative
}

.single-blog .thumb:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.section-tittle h2 {
    font-size: 50px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
}

.single-blog h4 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 34px;
    margin-bottom: 25px
}

.single-blog a {
    font-size: 20px;
    font-weight: 600
}

.single-blog .date {
    color: #666666;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    font-weight: 300
}

.single-blog .tag {
    text-align: left;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 300;
    margin-right: 22px;
    position: relative
}

.single-blog .tag:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background: #acacac;
    right: -12px;
    top: 7px
}

@media (max-width: 1199px) {
    .single-blog .tag {
        margin-right: 8px
    }
    .single-blog .tag:after {
        display: none
    }
}

.single-blog .likes {
    margin-right: 16px
}

@media (max-width: 800px) {
    .single-blog {
        margin-bottom: 30px
    }
}

.single-blog .single-blog-content {
    padding: 30px
}

.single-blog .single-blog-content .meta-bottom p {
    font-size: 13px;
    font-weight: 300
}

.single-blog .single-blog-content .meta-bottom i {
    color: #fdcb9e;
    font-size: 13px;
    margin-right: 7px
}

@media (max-width: 1199px) {
    .single-blog .single-blog-content {
        padding: 15px
    }
}

.single-blog:hover .thumb:after {
    opacity: .7;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media (max-width: 1199px) {
    .single-blog h4 {
        transition: all 300ms linear 0s;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 14px;
        margin-bottom: 12px
    }
    .single-blog h4 a {
        font-size: 18px
    }
}

.full_image.single-blog {
    position: relative
}

.full_image.single-blog .single-blog-content {
    position: absolute;
    left: 35px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media (min-width: 992px) {
    .full_image.single-blog .single-blog-content {
        bottom: 100px
    }
}

.full_image.single-blog h4 {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    border-bottom: none;
    padding-bottom: 5px
}

.full_image.single-blog a {
    font-size: 20px;
    font-weight: 600
}

.full_image.single-blog .date {
    color: #fff
}

.full_image.single-blog:hover .single-blog-content {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.l_blog_item .l_blog_text .date {
    margin-top: 24px;
    margin-bottom: 15px
}

.l_blog_item .l_blog_text .date a {
    font-size: 12px
}

.l_blog_item .l_blog_text h4 {
    font-size: 18px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0px;
    padding-bottom: 20px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.l_blog_item .l_blog_text p {
    margin-bottom: 0px;
    padding-top: 20px
}



.section-padding30 {
    padding-top: 195px;
    padding-bottom: 170px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .section-padding30 {
        padding-top: 195px;
        padding-bottom: 170px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-padding30 {
        padding-top: 150px;
        padding-bottom: 110px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section-padding30 {
        padding-top: 100px;
        padding-bottom: 70px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section-padding30 {
        padding-top: 65px;
        padding-bottom: 30px
    }
}

@media (max-width: 575px) {
    .section-padding30 {
        padding-top: 65px;
        padding-bottom: 30px
    }
    .section-tittle h2 {
    font-size: 30px;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 1.3;
}
}
 /*blog end here*/
 /*footer start here*/
 .oasislogo img{
    height: 100px;
}
#scrollUp, #back-top {
    background: #EDC750;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    z-index: 10;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2)
}

@media (max-width: 575px) {
    #scrollUp, #back-top {
        right: 16px
    }
    
.footer-area .footer-top .single-footer-caption .footer-tittle ul li {
    color: #bbbcbc;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 15px;
    text-align: center;
    list-style-type: none;
    cursor: pointer;
}
}

#scrollUp a i, #back-top a i {
    display: block;
    line-height: 50px
}
.footer-area {
    background: #121212
}

.footer-area .footer-heading {
    padding-bottom: 51px;
    margin-bottom: 82px;
    border-bottom: 1px solid #1a2537
}

.footer-area .footer-heading .wantToWork-caption h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Barlow", sans-serif;
    margin: 0
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-heading .wantToWork-caption h2 {
        font-size: 30px
    }
}

@media (max-width: 575px) {
    .footer-area .footer-heading .wantToWork-caption h2 {
        font-size: 25px;
        margin-bottom: 20px
    }
}

.footer-area .footer-heading .wantToWork-caption p {
    font-size: 18px
}

.footer-area .footer-heading .contact-number {
    color: #EDC750;
    font-size: 30px;
    font-weight: 700
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-heading .contact-number {
        float: left;
        margin-top: 30px
    }
}

@media (max-width: 575px) {
    .footer-area .footer-heading .contact-number {
        float: left;
        margin-top: 20px;
        font-size: 30px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-heading .contact-number {
        float: left;
        margin-top: 30px
    }
}

.footer-area .footer-top .single-footer-caption .footer-logo img {
    margin-bottom: 30px;
     height: 100px;
}

.footer-area .footer-top .single-footer-caption .footer-pera .info1 {
    line-height: 1.8;
    margin-bottom: 30px;
    padding-right: 0;
    color: #fff;
    font-size: 14px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
        padding-right: 0px
    }
}

.footer-area .footer-top .single-footer-caption .footer-tittle h4 {
    color: #fff;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    margin-bottom: 38px;
    font-weight: 500;
    text-transform: uppercase
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li {
    color: #bbbcbc;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 15px;
    text-align: justify;
    list-style-type: none;
    cursor: pointer;
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
    color: #868c98;
    font-weight: 300;
    list-style-type: none;
    
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a:hover {
    color: #EDC750;
    padding-left: 5px
}

.footer-area .footer-bottom {
    padding-bottom: 50px;
    padding-top: 20px
}

.footer-area .footer-bottom .footer-copy-right p {
    color: #bbbcbc;
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 12px
}

.footer-area .footer-bottom .footer-copy-right p i {
    color: #EDC750;
}

.footer-area .footer-bottom .footer-copy-right p a {
    color: #EDC750;
}

.footer-area .footer-social a {
    color: #848493;
    font-size: 18px;
    text-align: center;
    margin-left: 24px
}

.footer-area .footer-social a:first-child {
    margin-left: 0px
}

.footer-area .footer-social a:hover {
    color: #fff
}
 /*footer ends here*/

 
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

.mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important
}

.mobile_menu .slicknav_menu .slicknav_btn {
    top: -34px
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background-color: #f15f22 !important
}

.mobile_menu .slicknav_menu .slicknav_nav {
    margin-top: 9px !important;
    box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5)
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
    background: red;
    color: #f15f22
}

.mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 15px;
    padding: 7px 10px
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important
}
